*,
* ::before,
* ::after {
    box-sizing: border-box;
}
.sidebar {
    background-image: url(images/leafBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1;
    justify-content: center;
}
.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    height: 10rem;
    width: 100%;
    background-color: hsl(0, 0%, 0%, 0.5);
}
#logo{
    object-fit: contain;
    width: 6rem;
    height: fit-content;
}
h1 {
    font-size: 6rem;
    color: hsl(36, 33%, 97%);
}
.main {
    flex: 2;
    background-color: hsl(36, 33%, 97%);
}

.words {
    font-size: 1.5rem;
    margin: 8rem 3rem 4rem 3rem;
}
.form-body {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px hsl(0, 0%, 90%);
}
.input-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: flex-start;
}
h2 {
    background-color: white;
    margin: 0px;
    padding-left: 2rem;
}
input {
    border-color: hsl(0, 0%, 90%);
    border-style: solid;
    height: 2rem;
    width: 16rem;
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}